In [1]:
import numpy as np
import pandas as pd

In [5]:
a = np.arange(1+100,501+100).reshape(25,20)
a = pd.DataFrame(a)
print(a)

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14  \
0   101  102  103  104  105  106  107  108  109  110  111  112  113  114  115
1   121  122  123  124  125  126  127  128  129  130  131  132  133  134  135
2   141  142  143  144  145  146  147  148  149  150  151  152  153  154  155
3   161  162  163  164  165  166  167  168  169  170  171  172  173  174  175
4   181  182  183  184  185  186  187  188  189  190  191  192  193  194  195
5   201  202  203  204  205  206  207  208  209  210  211  212  213  214  215
6   221  222  223  224  225  226  227  228  229  230  231  232  233  234  235
7   241  242  243  244  245  246  247  248  249  250  251  252  253  254  255
8   261  262  263  264  265  266  267  268  269  270  271  272  273  274  275
9   281  282  283  284  285  286  287  288  289  290  291  292  293  294  295
10  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315
11  321  322  323  324  325  326  327  328  329  330  331  332  333  334  335
12  341  342  343  344  345  346  347  348  349  350  351  352  353  354  355
13  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375
14  381  382  383  384  385  386  387  388  389  390  391  392  393  394  395
15  401  402  403  404  405  406  407  408  409  410  411  412  413  414  415
16  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435
17  441  442  443  444  445  446  447  448  449  450  451  452  453  454  455
18  461  462  463  464  465  466  467  468  469  470  471  472  473  474  475
19  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495
20  501  502  503  504  505  506  507  508  509  510  511  512  513  514  515
21  521  522  523  524  525  526  527  528  529  530  531  532  533  534  535
22  541  542  543  544  545  546  547  548  549  550  551  552  553  554  555
23  561  562  563  564  565  566  567  568  569  570  571  572  573  574  575
24  581  582  583  584  585  586  587  588  589  590  591  592  593  594  595

     15   16   17   18   19
0   116  117  118  119  120
1   136  137  138  139  140
2   156  157  158  159  160
3   176  177  178  179  180
4   196  197  198  199  200
5   216  217  218  219  220
6   236  237  238  239  240
7   256  257  258  259  260
8   276  277  278  279  280
9   296  297  298  299  300
10  316  317  318  319  320
11  336  337  338  339  340
12  356  357  358  359  360
13  376  377  378  379  380
14  396  397  398  399  400
15  416  417  418  419  420
16  436  437  438  439  440
17  456  457  458  459  460
18  476  477  478  479  480
19  496  497  498  499  500
20  516  517  518  519  520
21  536  537  538  539  540
22  556  557  558  559  560
23  576  577  578  579  580
24  596  597  598  599  600

In [7]:
a.loc[0,0] = 6454546
print(a.head())

        0    1    2    3    4    5    6    7    8    9    10   11   12   13  \
0  6454546  102  103  104  105  106  107  108  109  110  111  112  113  114
1      121  122  123  124  125  126  127  128  129  130  131  132  133  134
2      141  142  143  144  145  146  147  148  149  150  151  152  153  154
3      161  162  163  164  165  166  167  168  169  170  171  172  173  174
4      181  182  183  184  185  186  187  188  189  190  191  192  193  194

    14   15   16   17   18   19
0  115  116  117  118  119  120
1  135  136  137  138  139  140
2  155  156  157  158  159  160
3  175  176  177  178  179  180
4  195  196  197  198  199  200

In [9]:
# a.columns = list("ABCDE")

In [11]:
a.loc["abd", "asdf"] = "Gasjfijdsf"
print(a.head())

           0      1      2      3      4      5      6      7      8      9  \
0  6454546.0  102.0  103.0  104.0  105.0  106.0  107.0  108.0  109.0  110.0
1      121.0  122.0  123.0  124.0  125.0  126.0  127.0  128.0  129.0  130.0
2      141.0  142.0  143.0  144.0  145.0  146.0  147.0  148.0  149.0  150.0
3      161.0  162.0  163.0  164.0  165.0  166.0  167.0  168.0  169.0  170.0
4      181.0  182.0  183.0  184.0  185.0  186.0  187.0  188.0  189.0  190.0

   ...     11     12     13     14     15     16     17     18     19  asdf
0  ...  112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0  120.0   NaN
1  ...  132.0  133.0  134.0  135.0  136.0  137.0  138.0  139.0  140.0   NaN
2  ...  152.0  153.0  154.0  155.0  156.0  157.0  158.0  159.0  160.0   NaN
3  ...  172.0  173.0  174.0  175.0  176.0  177.0  178.0  179.0  180.0   NaN
4  ...  192.0  193.0  194.0  195.0  196.0  197.0  198.0  199.0  200.0   NaN

[5 rows x 21 columns]

In [13]:
a.drop(0, axis=1)
print(a)

              0      1      2      3      4      5      6      7      8  \
0     6454546.0  102.0  103.0  104.0  105.0  106.0  107.0  108.0  109.0
1         121.0  122.0  123.0  124.0  125.0  126.0  127.0  128.0  129.0
2         141.0  142.0  143.0  144.0  145.0  146.0  147.0  148.0  149.0
3         161.0  162.0  163.0  164.0  165.0  166.0  167.0  168.0  169.0
4         181.0  182.0  183.0  184.0  185.0  186.0  187.0  188.0  189.0
5         201.0  202.0  203.0  204.0  205.0  206.0  207.0  208.0  209.0
6         221.0  222.0  223.0  224.0  225.0  226.0  227.0  228.0  229.0
7         241.0  242.0  243.0  244.0  245.0  246.0  247.0  248.0  249.0
8         261.0  262.0  263.0  264.0  265.0  266.0  267.0  268.0  269.0
9         281.0  282.0  283.0  284.0  285.0  286.0  287.0  288.0  289.0
10        301.0  302.0  303.0  304.0  305.0  306.0  307.0  308.0  309.0
11        321.0  322.0  323.0  324.0  325.0  326.0  327.0  328.0  329.0
12        341.0  342.0  343.0  344.0  345.0  346.0  347.0  348.0  349.0
13        361.0  362.0  363.0  364.0  365.0  366.0  367.0  368.0  369.0
14        381.0  382.0  383.0  384.0  385.0  386.0  387.0  388.0  389.0
15        401.0  402.0  403.0  404.0  405.0  406.0  407.0  408.0  409.0
16        421.0  422.0  423.0  424.0  425.0  426.0  427.0  428.0  429.0
17        441.0  442.0  443.0  444.0  445.0  446.0  447.0  448.0  449.0
18        461.0  462.0  463.0  464.0  465.0  466.0  467.0  468.0  469.0
19        481.0  482.0  483.0  484.0  485.0  486.0  487.0  488.0  489.0
20        501.0  502.0  503.0  504.0  505.0  506.0  507.0  508.0  509.0
21        521.0  522.0  523.0  524.0  525.0  526.0  527.0  528.0  529.0
22        541.0  542.0  543.0  544.0  545.0  546.0  547.0  548.0  549.0
23        561.0  562.0  563.0  564.0  565.0  566.0  567.0  568.0  569.0
24        581.0  582.0  583.0  584.0  585.0  586.0  587.0  588.0  589.0
abd  Gasjfijdsf    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

         9  ...     11     12     13     14     15     16     17     18  \
0    110.0  ...  112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0
1    130.0  ...  132.0  133.0  134.0  135.0  136.0  137.0  138.0  139.0
2    150.0  ...  152.0  153.0  154.0  155.0  156.0  157.0  158.0  159.0
3    170.0  ...  172.0  173.0  174.0  175.0  176.0  177.0  178.0  179.0
4    190.0  ...  192.0  193.0  194.0  195.0  196.0  197.0  198.0  199.0
5    210.0  ...  212.0  213.0  214.0  215.0  216.0  217.0  218.0  219.0
6    230.0  ...  232.0  233.0  234.0  235.0  236.0  237.0  238.0  239.0
7    250.0  ...  252.0  253.0  254.0  255.0  256.0  257.0  258.0  259.0
8    270.0  ...  272.0  273.0  274.0  275.0  276.0  277.0  278.0  279.0
9    290.0  ...  292.0  293.0  294.0  295.0  296.0  297.0  298.0  299.0
10   310.0  ...  312.0  313.0  314.0  315.0  316.0  317.0  318.0  319.0
11   330.0  ...  332.0  333.0  334.0  335.0  336.0  337.0  338.0  339.0
12   350.0  ...  352.0  353.0  354.0  355.0  356.0  357.0  358.0  359.0
13   370.0  ...  372.0  373.0  374.0  375.0  376.0  377.0  378.0  379.0
14   390.0  ...  392.0  393.0  394.0  395.0  396.0  397.0  398.0  399.0
15   410.0  ...  412.0  413.0  414.0  415.0  416.0  417.0  418.0  419.0
16   430.0  ...  432.0  433.0  434.0  435.0  436.0  437.0  438.0  439.0
17   450.0  ...  452.0  453.0  454.0  455.0  456.0  457.0  458.0  459.0
18   470.0  ...  472.0  473.0  474.0  475.0  476.0  477.0  478.0  479.0
19   490.0  ...  492.0  493.0  494.0  495.0  496.0  497.0  498.0  499.0
20   510.0  ...  512.0  513.0  514.0  515.0  516.0  517.0  518.0  519.0
21   530.0  ...  532.0  533.0  534.0  535.0  536.0  537.0  538.0  539.0
22   550.0  ...  552.0  553.0  554.0  555.0  556.0  557.0  558.0  559.0
23   570.0  ...  572.0  573.0  574.0  575.0  576.0  577.0  578.0  579.0
24   590.0  ...  592.0  593.0  594.0  595.0  596.0  597.0  598.0  599.0
abd    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

        19        asdf
0    120.0         NaN
1    140.0         NaN
2    160.0         NaN
3    180.0         NaN
4    200.0         NaN
5    220.0         NaN
6    240.0         NaN
7    260.0         NaN
8    280.0         NaN
9    300.0         NaN
10   320.0         NaN
11   340.0         NaN
12   360.0         NaN
13   380.0         NaN
14   400.0         NaN
15   420.0         NaN
16   440.0         NaN
17   460.0         NaN
18   480.0         NaN
19   500.0         NaN
20   520.0         NaN
21   540.0         NaN
22   560.0         NaN
23   580.0         NaN
24   600.0         NaN
abd    NaN  Gasjfijdsf

[26 rows x 21 columns]

In [15]:
a.loc[(a[1]<50)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, asdf]
Index: []

[0 rows x 21 columns]

In [16]:
a.iloc[0,4]

105.0

In [17]:
# ILOC USES INDEXES WHILE LOC USES NAME OF ROWS AND COLUMNS

In [18]:
a.drop([0,1], axis=0, inplace=True)
a

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,asdf
2,141.0,142.0,143.0,144.0,145.0,146.0,147.0,148.0,149.0,150.0,...,152.0,153.0,154.0,155.0,156.0,157.0,158.0,159.0,160.0,NaN
3,161.0,162.0,163.0,164.0,165.0,166.0,167.0,168.0,169.0,170.0,...,172.0,173.0,174.0,175.0,176.0,177.0,178.0,179.0,180.0,NaN
4,181.0,182.0,183.0,184.0,185.0,186.0,187.0,188.0,189.0,190.0,...,192.0,193.0,194.0,195.0,196.0,197.0,198.0,199.0,200.0,NaN
5,201.0,202.0,203.0,204.0,205.0,206.0,207.0,208.0,209.0,210.0,...,212.0,213.0,214.0,215.0,216.0,217.0,218.0,219.0,220.0,NaN
6,221.0,222.0,223.0,224.0,225.0,226.0,227.0,228.0,229.0,230.0,...,232.0,233.0,234.0,235.0,236.0,237.0,238.0,239.0,240.0,NaN
7,241.0,242.0,243.0,244.0,245.0,246.0,247.0,248.0,249.0,250.0,...,252.0,253.0,254.0,255.0,256.0,257.0,258.0,259.0,260.0,NaN
8,261.0,262.0,263.0,264.0,265.0,266.0,267.0,268.0,269.0,270.0,...,272.0,273.0,274.0,275.0,276.0,277.0,278.0,279.0,280.0,NaN
9,281.0,282.0,283.0,284.0,285.0,286.0,287.0,288.0,289.0,290.0,...,292.0,293.0,294.0,295.0,296.0,297.0,298.0,299.0,300.0,NaN
10,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0,310.0,...,312.0,313.0,314.0,315.0,316.0,317.0,318.0,319.0,320.0,NaN
11,321.0,322.0,323.0,324.0,325.0,326.0,327.0,328.0,329.0,330.0,...,332.0,333.0,334.0,335.0,336.0,337.0,338.0,339.0,340.0,NaN
12,341.0,342.0,343.0,344.0,345.0,346.0,347.0,348.0,349.0,350.0,...,352.0,353.0,354.0,355.0,356.0,357.0,358.0,359.0,360.0,NaN
13,361.0,362.0,363.0,364.0,365.0,366.0,367.0,368.0,369.0,370.0,...,372.0,373.0,374.0,375.0,376.0,377.0,378.0,379.0,380.0,NaN
14,381.0,382.0,383.0,384.0,385.0,386.0,387.0,388.0,389.0,390.0,...,392.0,393.0,394.0,395.0,396.0,397.0,398.0,399.0,400.0,NaN
15,401.0,402.0,403.0,404.0,405.0,406.0,407.0,408.0,409.0,410.0,...,412.0,413.0,414.0,415.0,416.0,417.0,418.0,419.0,420.0,NaN
16,421.0,422.0,423.0,424.0,425.0,426.0,427.0,428.0,429.0,430.0,...,432.0,433.0,434.0,435.0,436.0,437.0,438.0,439.0,440.0,NaN
17,441.0,442.0,443.0,444.0,445.0,446.0,447.0,448.0,449.0,450.0,...,452.0,453.0,454.0,455.0,456.0,457.0,458.0,459.0,460.0,NaN
18,461.0,462.0,463.0,464.0,465.0,466.0,467.0,468.0,469.0,470.0,...,472.0,473.0,474.0,475.0,476.0,477.0,478.0,479.0,480.0,NaN
19,481.0,482.0,483.0,484.0,485.0,486.0,487.0,488.0,489.0,490.0,...,492.0,493.0,494.0,495.0,496.0,497.0,498.0,499.0,500.0,NaN
20,501.0,502.0,503.0,504.0,505.0,506.0,507.0,508.0,509.0,510.0,...,512.0,513.0,514.0,515.0,516.0,517.0,518.0,519.0,520.0,NaN
21,521.0,522.0,523.0,524.0,525.0,526.0,527.0,528.0,529.0,530.0,...,532.0,533.0,534.0,535.0,536.0,537.0,538.0,539.0,540.0,NaN
22,541.0,542.0,543.0,544.0,545.0,546.0,547.0,548.0,549.0,550.0,...,552.0,553.0,554.0,555.0,556.0,557.0,558.0,559.0,560.0,NaN
23,561.0,562.0,563.0,564.0,565.0,566.0,567.0,568.0,569.0,570.0,...,572.0,573.0,574.0,575.0,576.0,577.0,578.0,579.0,580.0,NaN
24,581.0,582.0,583.0,584.0,585.0,586.0,587.0,588.0,589.0,590.0,...,592.0,593.0,594.0,595.0,596.0,597.0,598.0,599.0,600.0,NaN
abd,Gasjfijdsf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gasjfijdsf

In [20]:
a.reset_index(drop=True, inplace=True)
a

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,asdf
0,141.0,142.0,143.0,144.0,145.0,146.0,147.0,148.0,149.0,150.0,...,152.0,153.0,154.0,155.0,156.0,157.0,158.0,159.0,160.0,NaN
1,161.0,162.0,163.0,164.0,165.0,166.0,167.0,168.0,169.0,170.0,...,172.0,173.0,174.0,175.0,176.0,177.0,178.0,179.0,180.0,NaN
2,181.0,182.0,183.0,184.0,185.0,186.0,187.0,188.0,189.0,190.0,...,192.0,193.0,194.0,195.0,196.0,197.0,198.0,199.0,200.0,NaN
3,201.0,202.0,203.0,204.0,205.0,206.0,207.0,208.0,209.0,210.0,...,212.0,213.0,214.0,215.0,216.0,217.0,218.0,219.0,220.0,NaN
4,221.0,222.0,223.0,224.0,225.0,226.0,227.0,228.0,229.0,230.0,...,232.0,233.0,234.0,235.0,236.0,237.0,238.0,239.0,240.0,NaN
5,241.0,242.0,243.0,244.0,245.0,246.0,247.0,248.0,249.0,250.0,...,252.0,253.0,254.0,255.0,256.0,257.0,258.0,259.0,260.0,NaN
6,261.0,262.0,263.0,264.0,265.0,266.0,267.0,268.0,269.0,270.0,...,272.0,273.0,274.0,275.0,276.0,277.0,278.0,279.0,280.0,NaN
7,281.0,282.0,283.0,284.0,285.0,286.0,287.0,288.0,289.0,290.0,...,292.0,293.0,294.0,295.0,296.0,297.0,298.0,299.0,300.0,NaN
8,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0,310.0,...,312.0,313.0,314.0,315.0,316.0,317.0,318.0,319.0,320.0,NaN
9,321.0,322.0,323.0,324.0,325.0,326.0,327.0,328.0,329.0,330.0,...,332.0,333.0,334.0,335.0,336.0,337.0,338.0,339.0,340.0,NaN
10,341.0,342.0,343.0,344.0,345.0,346.0,347.0,348.0,349.0,350.0,...,352.0,353.0,354.0,355.0,356.0,357.0,358.0,359.0,360.0,NaN
11,361.0,362.0,363.0,364.0,365.0,366.0,367.0,368.0,369.0,370.0,...,372.0,373.0,374.0,375.0,376.0,377.0,378.0,379.0,380.0,NaN
12,381.0,382.0,383.0,384.0,385.0,386.0,387.0,388.0,389.0,390.0,...,392.0,393.0,394.0,395.0,396.0,397.0,398.0,399.0,400.0,NaN
13,401.0,402.0,403.0,404.0,405.0,406.0,407.0,408.0,409.0,410.0,...,412.0,413.0,414.0,415.0,416.0,417.0,418.0,419.0,420.0,NaN
14,421.0,422.0,423.0,424.0,425.0,426.0,427.0,428.0,429.0,430.0,...,432.0,433.0,434.0,435.0,436.0,437.0,438.0,439.0,440.0,NaN
15,441.0,442.0,443.0,444.0,445.0,446.0,447.0,448.0,449.0,450.0,...,452.0,453.0,454.0,455.0,456.0,457.0,458.0,459.0,460.0,NaN
16,461.0,462.0,463.0,464.0,465.0,466.0,467.0,468.0,469.0,470.0,...,472.0,473.0,474.0,475.0,476.0,477.0,478.0,479.0,480.0,NaN
17,481.0,482.0,483.0,484.0,485.0,486.0,487.0,488.0,489.0,490.0,...,492.0,493.0,494.0,495.0,496.0,497.0,498.0,499.0,500.0,NaN
18,501.0,502.0,503.0,504.0,505.0,506.0,507.0,508.0,509.0,510.0,...,512.0,513.0,514.0,515.0,516.0,517.0,518.0,519.0,520.0,NaN
19,521.0,522.0,523.0,524.0,525.0,526.0,527.0,528.0,529.0,530.0,...,532.0,533.0,534.0,535.0,536.0,537.0,538.0,539.0,540.0,NaN
20,541.0,542.0,543.0,544.0,545.0,546.0,547.0,548.0,549.0,550.0,...,552.0,553.0,554.0,555.0,556.0,557.0,558.0,559.0,560.0,NaN
21,561.0,562.0,563.0,564.0,565.0,566.0,567.0,568.0,569.0,570.0,...,572.0,573.0,574.0,575.0,576.0,577.0,578.0,579.0,580.0,NaN
22,581.0,582.0,583.0,584.0,585.0,586.0,587.0,588.0,589.0,590.0,...,592.0,593.0,594.0,595.0,596.0,597.0,598.0,599.0,600.0,NaN
23,Gasjfijdsf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gasjfijdsf

In [21]:
a[0] = None
a

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,asdf
0,None,142.0,143.0,144.0,145.0,146.0,147.0,148.0,149.0,150.0,...,152.0,153.0,154.0,155.0,156.0,157.0,158.0,159.0,160.0,NaN
1,None,162.0,163.0,164.0,165.0,166.0,167.0,168.0,169.0,170.0,...,172.0,173.0,174.0,175.0,176.0,177.0,178.0,179.0,180.0,NaN
2,None,182.0,183.0,184.0,185.0,186.0,187.0,188.0,189.0,190.0,...,192.0,193.0,194.0,195.0,196.0,197.0,198.0,199.0,200.0,NaN
3,None,202.0,203.0,204.0,205.0,206.0,207.0,208.0,209.0,210.0,...,212.0,213.0,214.0,215.0,216.0,217.0,218.0,219.0,220.0,NaN
4,None,222.0,223.0,224.0,225.0,226.0,227.0,228.0,229.0,230.0,...,232.0,233.0,234.0,235.0,236.0,237.0,238.0,239.0,240.0,NaN
5,None,242.0,243.0,244.0,245.0,246.0,247.0,248.0,249.0,250.0,...,252.0,253.0,254.0,255.0,256.0,257.0,258.0,259.0,260.0,NaN
6,None,262.0,263.0,264.0,265.0,266.0,267.0,268.0,269.0,270.0,...,272.0,273.0,274.0,275.0,276.0,277.0,278.0,279.0,280.0,NaN
7,None,282.0,283.0,284.0,285.0,286.0,287.0,288.0,289.0,290.0,...,292.0,293.0,294.0,295.0,296.0,297.0,298.0,299.0,300.0,NaN
8,None,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0,310.0,...,312.0,313.0,314.0,315.0,316.0,317.0,318.0,319.0,320.0,NaN
9,None,322.0,323.0,324.0,325.0,326.0,327.0,328.0,329.0,330.0,...,332.0,333.0,334.0,335.0,336.0,337.0,338.0,339.0,340.0,NaN
10,None,342.0,343.0,344.0,345.0,346.0,347.0,348.0,349.0,350.0,...,352.0,353.0,354.0,355.0,356.0,357.0,358.0,359.0,360.0,NaN
11,None,362.0,363.0,364.0,365.0,366.0,367.0,368.0,369.0,370.0,...,372.0,373.0,374.0,375.0,376.0,377.0,378.0,379.0,380.0,NaN
12,None,382.0,383.0,384.0,385.0,386.0,387.0,388.0,389.0,390.0,...,392.0,393.0,394.0,395.0,396.0,397.0,398.0,399.0,400.0,NaN
13,None,402.0,403.0,404.0,405.0,406.0,407.0,408.0,409.0,410.0,...,412.0,413.0,414.0,415.0,416.0,417.0,418.0,419.0,420.0,NaN
14,None,422.0,423.0,424.0,425.0,426.0,427.0,428.0,429.0,430.0,...,432.0,433.0,434.0,435.0,436.0,437.0,438.0,439.0,440.0,NaN
15,None,442.0,443.0,444.0,445.0,446.0,447.0,448.0,449.0,450.0,...,452.0,453.0,454.0,455.0,456.0,457.0,458.0,459.0,460.0,NaN
16,None,462.0,463.0,464.0,465.0,466.0,467.0,468.0,469.0,470.0,...,472.0,473.0,474.0,475.0,476.0,477.0,478.0,479.0,480.0,NaN
17,None,482.0,483.0,484.0,485.0,486.0,487.0,488.0,489.0,490.0,...,492.0,493.0,494.0,495.0,496.0,497.0,498.0,499.0,500.0,NaN
18,None,502.0,503.0,504.0,505.0,506.0,507.0,508.0,509.0,510.0,...,512.0,513.0,514.0,515.0,516.0,517.0,518.0,519.0,520.0,NaN
19,None,522.0,523.0,524.0,525.0,526.0,527.0,528.0,529.0,530.0,...,532.0,533.0,534.0,535.0,536.0,537.0,538.0,539.0,540.0,NaN
20,None,542.0,543.0,544.0,545.0,546.0,547.0,548.0,549.0,550.0,...,552.0,553.0,554.0,555.0,556.0,557.0,558.0,559.0,560.0,NaN
21,None,562.0,563.0,564.0,565.0,566.0,567.0,568.0,569.0,570.0,...,572.0,573.0,574.0,575.0,576.0,577.0,578.0,579.0,580.0,NaN
22,None,582.0,583.0,584.0,585.0,586.0,587.0,588.0,589.0,590.0,...,592.0,593.0,594.0,595.0,596.0,597.0,598.0,599.0,600.0,NaN
23,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gasjfijdsf

In [22]:
a.isnull()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,asdf
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
7,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
11,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
12,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
13,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
16,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
17,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
19,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
20,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
21,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
22,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False

In [23]:
a[0].isnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
Name: 0, dtype: bool